body {
    margin: 30px;
}


/* Configuração para limpar as definições padrões das listas ul e ol. */
ul, ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}


/* Configuração para limpar as definições padrões das listas dl e dd. */

dl, dd {
    margin: 0px;
}